version: '3.8'

services:
  backend:
    build: ./backend
    container_name: task-management-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=production
      # - MONGO_URI=mongodb://host.docker.internal:27017/taskapp # Example for local Mongo
      # - CLIENT_URL=http://localhost:5173
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: task-management-frontend
    ports:
      - "5173:80" # Map host 5173 to container 80 (Nginx)
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
